# .vscode
/.vscode/*

# smzdmSpider
/smzdmSpider/*
!/smzdmSpider/*.py
/smzdmSpider/wy_send_mail.py

# LianjiaSpider
/LianjiaSpider/*
# !/LianjiaSpider/*.py
# /LianjiaSpider/wy_send_mail.py

# EconomistSpider
/EconomistSpider/*
# !/EconomistSpider/*.py

# BondMonitor
/BondMonitor/*


